variant
{
    text-align: center;
    font-size: 20px;
    background: #000000;

}


.task
{
    text-align: justify;
}

.tableTask
{
    width: 800px;
}

table 
{
width: 800px;
border: 1px solid blue;
}

.link {
    color: #000000;
    transition: all 0.3s ease;
  }
  
.link:hover {
    font-size: 20px;
  }


  
  
    